@font-face {
  font-weight: 700;
  font-family: "Gotham";
  font-style: normal;

  src: url("../../fonts/GothamPro-Bold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gotham";
  font-style: normal;

  src: url("../../fonts/GothamPro-Light.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gotham";
  font-style: italic;

  src: url("../../fonts/GothamPro-LightItalic.woff") format("woff");
}