.footer {
  min-width: 1100px;
  height: 77px;
  margin-top: -77px;

  background-color: #27273e;
}

.footer-container {
  box-sizing: border-box;
  width: 1100px;
  margin: 0 auto;
  padding: 10px 20px 12px 20px;
}

.footer__copyright {
  float: left;
  width: 270px;
  margin-right: 209px;

  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-family: "Gotham", Arial, sans-serif;
  color: #ffffff;
}

.footer__copyright p {
  margin: 0;
}

.footer__copyright a,
.footer__copyright span {
  font-weight: 700;
  font-family: "Gotham", Arial, sans-serif;
  color: #ffffff;

  outline: none;
}

.footer__copyright a:hover,
.footer__copyright a:focus {
  color: #ec1e79;
}

.footer__copyright a:active {
  opacity: 0.5;
}

.footer__logo {
  float: left;
  margin-top: 4px;
}

.footer__social {
  float: right;
  width: 180px;
  margin-top: 6px;
}

.footer__social-title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-family: "Gotham", Arial, sans-serif;
  text-align: right;
  color: #ffffff;
}

.footer__social-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.footer__social-item {
  display: inline-block;
  margin-left: 10px;
}

.footer__social-item:last-child {
  margin-top: 7px;
  margin-right: 30px;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;

  background: transparent url("../../img/icons/spritesheet-1.png") no-repeat;
  border-radius: 50%;
  outline: none;

  transition: all 0.2s linear;
}

.social-link:active {
  opacity: 0.5;
}

.social-link--vk {
  background-position: -20px -840px;
}

.social-link--vk:hover,
.social-link--vk:focus {
  background-position: -20px -900px;
}

.social-link--fb {
  background-position: -20px -20px;
}

.social-link--fb:hover,
.social-link--fb:focus {
  background-position: -20px -80px;
}

.social-link--gp {
  background-position: -20px -140px;
}

.social-link--gp:hover,
.social-link--gp:focus {
  background-position: -20px -200px;
}

.social-link--tw {
  background-position: -20px -720px;
}

.social-link--tw:hover,
.social-link--tw:focus {
  background-position: -20px -780px;
}

.social-link--mail {
  background-position: -20px -260px;
}

.social-link--mail:hover,
.social-link--mail:focus {
  background-position: -20px -320px;
}
