@keyframes drop {
  0% {
    transform: translate(-50%,-500%);
  }

  60% {
    transform: translate(-50%,-50%);
  }

  70% {
    transform: translate(-50%,-55%);
  }

  80% {
    transform: translate(-50%,-50%);
  }

  90% {
    transform: translate(-50%,-53%);
  }

  95% {
    transform: translate(-50%,-50%);
  }

  99% {
    transform: translate(-50%,-51%);
  }

  100% {
    transform: translate(-50%,-50%);
  }
}

.intro-wrapper {
  position: relative;

  width: 100%;
  height: 100%;

  text-align: center;

  background-color: #793e62;
  background-image: url("../../img/intro-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.intro-main {
  position: absolute;
  top: 50%;
  left: 50%;

  box-sizing: border-box;
  width: 222px;
  height: 192px;
  margin: 0 auto;
  padding: 0 20px;

  transform: translate(-50%,-50%);

  animation-name: drop;
  animation-duration: 1s;
}

.intro-main__logo {
  display: block;
  width: 161px;
  height: 119px;
  margin: 0 auto;
  margin-bottom: 29px;
  padding-right: 3px;
}

.intro-main__btn-intro {
  display: block;
  padding: 12px 18px 8px;

  font-size: 12px;
  line-height: 18px;
  font-family: "Gotham", Arial, sans-serif;
  color: #ec1e79;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.2px;

  background-color: transparent;
  border: 3px solid #ec1e79;
  outline: none;

  transition: all 0.2s linear;
}

.intro-main__btn-intro:hover,
.intro-main__btn-intro:focus {
  color: #ffffff;

  background-color: #ec1e79;
}

.intro-main__btn-intro:active {
  opacity: 0.7;
}
