.tariffs {
  float: right;
  width: 900px;
}

.tariffs__title {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 45px;
  margin-left: -2px;
  padding-left: 20px;

  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  font-family: "Gotham", Arial, sans-serif;
  letter-spacing: -1.2px;
}

.tariffs__list {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.tariffs__item {
  display: inline-block;
  box-sizing: border-box;
  width: 290px;
  min-height: 400px;
  margin-right: 20px;
  margin-bottom: 16px;
  padding: 0 20px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  text-align: center;

  border-radius: 3px;

  transition: box-shadow 0.2s linear;
}

.tariffs__item:hover {
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
}

.tariffs__item:hover .tariffs__item-link,
.tariffs__item:hover .tariffs__item-link .tariffs__vip {
  text-decoration: underline;
}

.tariffs__item:nth-child(3n+2) {
  margin-right: 10px;
}

.tariffs__item:nth-child(3n) {
  margin-right: 0;
}

.tariffs__title-wrapper {
  position: relative;

  box-sizing: border-box;
  min-width: 250px;
  min-height: 153px;
  margin-bottom: 22px;
  overflow: hidden;

  background-color: blue;
  background-color: rgba(39, 39, 62, 1);
  border-radius: 3px;
}

.tariffs__item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;

  width: 180px;
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  font-family: "Gotham", Arial, sans-serif;
  text-transform: uppercase;

  transform: translate(-50%,-50%);
}

.tariffs__item-link {
  position: relative;
  z-index: 100;

  color: #5dd1f8;
  text-decoration: none;
}

.tariffs__item-link:focus,
.tariffs__item-link:focus .tariffs__vip {
  text-decoration: underline;

  outline: none;
}

.tariffs__vip {
  position: relative;
  z-index: 100;

  display: block;

  color: #ec1e79;
}

.tariffs__img {
  position: absolute;
  z-index: 10;

  display: block;

  opacity: 0.15;
}

.tariffs__img--first {
  top: -20px;
  left: -10px;
}

.tariffs__img--second {
  top: -202px;
  left: -238px;
}

.tariffs__img--third {
  top: -17px;
  left: -8px;
}

.tariffs__img--fourth {
  top: -9px;
  left: -6px;
}

.tariffs__img--fifth {
  top: -18px;
  left: -36px;
}

.tariffs__img--sixth {
  top: -9px;
  left: -6px;
}

.tariffs__item-price {
  width: auto;
  margin: 0 auto;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  font-family: "Gotham", Arial, sans-serif;
}

.tariffs__item-info {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: "Gotham", Arial, sans-serif;
  color: #221f1f;
}
